{lib_dirs,["deps"]}.
{deps_dir, ["deps"]}.
{sub_dirs, ["rel","apps"]}.
{erl_opts, [{parse_transform, lager_transform}, debug_info, {i, "../"}]}.
{require_otp_vsn, "20"}.
{cover_enable,true}.
{deps, [
 {lager, ".*", {git, "git://github.com/basho/lager.git", ""}},
 {gun,".*", {git, "https://github.com/ninenines/gun",""}},
 {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git",{tag,"0.13.3"}}}
]}.

